<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if site.github_username %}

          <a href="https://github.com/{{ site.github_username }}">
            <span class="footer_icon">
              <i class="fa fa-github" aria-hidden="true"></i>
            </span>
            Github
          </a>

          {% endif %}
          <span class="point"> · </span>
          <span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></span>
          <span class="point"> · </span>
          <span>&copy; 2015 Lucky Zhou</span>

      </div>
    </div>
  </div>
</footer>