// Define the main color for this site.
$primaryColor: white;
$secondColor: #d1d1d1;

// Define the main font color.
$primaryFontColor: #333;
$secondFontColor: #d1d1d1;

$primaryLinkFontColor: #337ab7;